html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* to visualize limts */
body > * {
    font-family: Roboto;
}
body > div {
    /* border: 5px solid black; */
}

/* header */
.container1 {
    padding: 0px 250px 60px;
    }

.container1,
.container5 {
    background-color: #c2b280;
}

.header-block {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.logo img {
    width: 80px;
    height: auto;

}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    color: green;;
}

.header-block,
.pictures-block,
.quote-block,
.modal-block,
.footer {
    margin-left: 150px;
    margin-right: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 20px;
}

ul {
    display: flex;
    gap: 50px;
    
}

ul a {

    text-decoration: none;
}

/* article-block */

.articles-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
   

}

.article h2 {
    font-size: 48px;
    color: green;
    font-weight: 900;
}

.article p,
ul a {
    color: purple;

}

.article p, h2 {
    max-width: 300px;
}

.article > img {
    height: 250px;
    width: auto;
}

button.sign-up {
    background-color: orange;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 12px 40px;
    border-radius: 10px;
    font-weight: 700;
}

/* pictures-block */

h3 {
    font-size: 35px;
    text-align: center;
}

.pictures-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 100px;

}

.pictures-block h3 {
    font-size: 36px;
    color: #c2b280;
    font-weight: 900;
}

.pictures-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;;
    flex-wrap: wrap;
    gap: 70px;
}

div.pictures-group figure {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 150px;
    gap: 10px;
    text-align: center;

}
figure > img {
    width: 150px;
    height: 150px;
    height: auto;
    border: 2px solid orange;
    border-radius: 20px;
    object-fit: cover;
}

/* quote block */
.container3 {
    background-color: purple;
    display: flex;
    justify-content: center;
}

.quote-block {
    margin: 0;
    padding: 50px;
    font-size: 36px;
    max-width: 800px;
    font-weight: 300;
}

.famous {
    font-style: italic;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quote-block.blockquote {
    text-align:justify;
    font-style: italic;
}
.quote-block figcaption {
    text-align: right;
    font-weight: bold;
}

/* modal block */
.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.modal-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    padding: 40px 50px;
    gap: 10px;
}

.modal-block,
.modal-block button {
    background-color: orange;
}

.modal-block button {
    border: 2px solid white;
}

.modal-block > * {
    flex: 0 1 auto;
}
.modal-block h3 {
    font-size: 25px;
    text-align: left;
}

.modal-text {

}

/* footer */

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
