html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* to visualize limts */
body > * {
    font-family: Roboto;
}
body > div {
    border: 5px solid black;
}

/* header */
.header-block {
    background-color: lightgrey;
}
.logo img {
    height: 50px;
    width: 50px;
}

.header-block,
.pictures-block,
.quote-block,
.modal-block,
.footer {
    margin-left: 100px;
    margin-right: 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

ul {
    display: flex;
    gap: 50px
}

/* article-block */

.articles-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.article h2{
    font-size: 40px;
    
}
.article p, h2 {
    max-width: 300px;
}

.article > img {
    height: 250px;
    width: auto;
}

button.sign-up {
    background-color: orange;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 12px 40px;
    border-radius: 10px;
    font-weight: 700;
}

/* pictures-block */

h3 {
    font-size: 35px;
    text-align: center;
}

.pictures-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    gap: 30px;
    
}
.pictures-group {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 70px;
}

div.pictures-group figure {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 150px;
    gap: 5px;

}
figure > img {
    max-width: 150px;
    height: auto;
}

/* quote block */

.quote-block {
    padding: 100px;
    font-size: 20px;
}
.quote-block.blockquote {
    text-align:justify;
    font-style: italic;
}
.quote-block figcaption {
    text-align: right;
    font-weight: bold;
}

/* modal block */
.container4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-block {
    border: 5px solid orange;
    display:flex;
    justify-content: space-bewteen;
    align-items: center;
    gap: 100px;
    padding: 50px 200px;
}
.modal-block > * {
    flex: 1 1 auto;
}
.modal-block h3 {
    font-size: 25px;
    text-align: left;
}

.modal-text {

}

/* footer */

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
